.expensesContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.expensesWrapper{
    border: 1px solid;
    width: 70%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    margin: 50px 0px;
}

.emptyList{
    text-align: center;
    padding: 50px;
    font-size: 18px;
    color: orangered;

}

.totalPriceWrapper{
    position: absolute;
    padding: 10px;
    background-color: #fff;
    top: 10px;
    left: 90px;
}

.addBtn{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.addBtn img{
    width: 100%;
}
.addBtn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}